<nav class="navbar">
    <h5 class="brand-logo">PicX</h5>

    <ul id="nav-bar" class="nav-links">
        <li> <a href="/" id="home">Home</a> </li>
        <li> <a href="postimage" id="post-button">Create Post</a> </li>
    </ul>
    <div class="nav-right-content">
        <div class="nav-search" action="action_page.php">
            <input id="search" type="text" placeholder="Search.." name="search">
            <button><i id="search-button" class="fa fa-search"></i></button>
        </div>
        <ul class="auth-links">
            {{#if logged}}
            <li><a class="logout-link" id="logout-button" href="/">Log out</a></li>
            {{else}}
            <li><a class="bordered-link" href="/login">Log in</a></li>
            <li> <a class="filled-link" href="registration" id="authenticate-button">Register</a> </li>
            {{/if}}
        </ul>
    </div>

</nav>