<div class="v-wrapper">
    <section class="main-content">
        <div class="form-container">
            <form class="form" id="login-form" method="POST" action="/users/login"
                enctype="application/x-www-form-urlencoded">
                <h2 class="main-heading">login</h2>

                <div class="grid-container">
                    <label for="name">Enter Username</label>
                    <input type="text" placeholder="username" required name="username">
                    <br>
                    <label for="password">Enter Password </label>
                    <input type="password" placeholder="password" required name="password">
                    <br>
                </div>
                <button type="submit">submit</button>
            </form>
        </div>

    </section>
</div>