<!DOCTYPE html>
<html lang="en">

<body class="gird.container">
    <header>
        <h1>View Image Post</h1>
    </header>
    <div>
        <section>
            <h3>Title: (Your title name shows here.)</h3>
        </section>
        <br>
        <section>
            <h3>Author: (Your name shows here.)</h3>
        </section>
        <br>
        <section>
            <h3>Creation Time: Year/Month/Day Times 00:00 AM/PM</h3>
        </section>
        <br>
        <section>
            <h3>Image:</h3>
            <img src="https://www.planetware.com/wpimages/2019/10/switzerland-in-pictures-most-beautiful-places-matterhorn.jpg" alt="mountain">
        </section>
    </div>
</body>
</html>