:root{
    --primary:#001253;
    --secondary:#D89216;
    --gray:#374045;
    --light-gray:#eeeeee;
    --light-beige:#E1D89F;
    --brown:#58391C;
}

/*  */
body{
  background-color: var(--light-gray);
  padding:0;
  margin:0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
p,h1,h2,h3{
    padding:0;
    margin:0;  
}
.navbar{
    height:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
}
.auth-links{
    list-style: none;
    padding-left: 0px;
}
.auth-links li{
    display: inline-block;
}
.bordered-link{
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid var(--light-gray);
    color:var(--light-gray);
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}
.filled-link{
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #68B984;
    color:var(--primary);
    background-color: #68B984;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}
.logout-link{
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #CC3636;
    color:var(--light-gray);
    background-color: #CC3636;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}
.nav-right-content{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.brand-logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary);
    font-size: 20px;
    padding:5px 15px;
    border-radius: 10px;
    display: inline-block;
    background-color: var(--light-gray);
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    margin-left:10px;
    margin-right: 10px;
    
}
.nav-links li a{
    color: var(--light-gray);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
}
.wrapper{
    max-width: 1040px;
    margin: 0 auto;
}
.footer{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    margin-top: auto;
}
.footer-content{
    color:var(--gray);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-content a{
    color:var(--gray);
    font-weight: 600;
}
.main-content{
    padding:30px 20px;
}
button {
	cursor: pointer;
}
button[type=submit]{
	border: 0;
	border-radius: 15px;
	background: var(--primary);
	color: var(--light-gray);
    border: 1px solid var(--light-gray);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
	margin-top: 10px;
	padding: 10px 0;
    transition: all 0.3s ease-in-out;
}
button[type=submit]:hover{
    background-color: var(--light-beige);
    border: 1px solid var(--primary);
    color:var(--primary);
}
.form-container{
    margin: 20px;
    margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 50vw;
}

.form-container form{
    border: 1px solid var(--primary);
    background-color: var(--light-beige);
    padding: 30px 25%;
    border-radius:15px;

}


header {
	margin-bottom: 10px;
	background: #7d8abe;
	color: #d5e1c7;
    font-family: Comic Sans MS, Comic Sans, cursive;
	text-transform: uppercase;
	margin-bottom: 10px;
}

input[type=text],input[type=email],input[type=password]{
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	margin: 5px 0;
	margin-bottom: 10px;
	border: 0;
	border-radius: 5px;
    border: 1px solid var(--secondary);
	outline: 0;
    margin-bottom: 20px;
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus{
	border: 1px solid #007bff;
}
textarea{
    width: 100%;
	height: 30px;
	padding: 5px 10px;
	margin: 5px 0;
	margin-bottom: 10px;
	border: 0;
	border-radius: 5px;
    border: 1px solid var(--secondary);
	outline: 0;
    margin-bottom: 20px;
}
label {
	font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color:var(--primary);
}
.main-heading{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
#upload {
	cursor: pointer;
	width: max-content;; 
	border: 0;
	border-radius: 3px;
	background: #007bff;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
    padding: 5px 10px;
	margin-top: 5px;
    display: block;	
}

.error{
	padding-bottom: 10px;
	color: red;
	display: none;
}

#flash-message{  
    font-family: Arial, Helvetica, sans-serif;
    width: 25rem;
    height: auto;
    margin:auto;
    margin-top: 3rem;
    margin-bottom:3rem ;
}



#main-content{
    height: 35rem;
    grid-area:content;
    padding: .35em;
    padding-bottom: 0.35em;
    display: grid;
    gap:.2rem .2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

/* flashmessage.hbs */

#flash-message div {
    text-align: center;
}

#alert-error{
    color: #ffe757;
    background-color: rgb(240, 147, 147);
    padding: 0.3rem;
}

#alert-success{
    color: #ffe757;
    background-color:#a2b0cb;
    padding: 0.3rem;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* card.hbs */
.card{
    border: 1px solid var(--brown);
    width:25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    margin:10px;
 }
 .card-cover {
    height: 150px;
    background-position:center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;
 }
 .card-body{
    padding:10px 10px 30px 10px;
 }
.card-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--brown);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.card-description{
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    height: 100px;
    position: relative;
}
.card-description::after{
    position: absolute;
    content: '';
    height: 35px;
    bottom: -32px;
    left: 0px;
    right:0px;
    background-image:linear-gradient(to bottom,rgba(238, 238, 238, 0.514),#eee) ;
}
.anchor-buttons{
    font-weight: bolder;
    color: rgb(10, 10, 10);
    padding: 0.5rem;  
}
.post-detail-link{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    text-decoration: none;
}
.post-detail-link:hover{
    text-decoration: underline;
}

.card-image{
    width: 150px;
    border-radius: 10px;
}
.post-detail-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pd-image-container{
    padding:20px 5px;
}
.pd-image{
    width: 100%;
    margin-right: 20px;
}
.post-meta{
    padding:10px;
}
.pd-user{
    font-size: 18px;
    color: var(--gray);
    font-style: italic;
}
.pd-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: capitalize;
    color:var(--primary);
}
.pd-description{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    margin-bottom: 15px;
}
.pd-date{
    font-size: 12px;
    color: var(--gray);
}
.comment-container{
    background-color: #eee;
    border: 1px solid rgb(197, 196, 196);
    padding:20px 20px;
}
.comment-wrapper{
    border: 1px solid var(--secondary);
    padding:10px 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #eee;
    position: relative;
    z-index: 1;
}
.comment-wrapper::after{
    content: '';
    width: 30px;
    position: absolute;
    bottom: -16px;
    left:25px;
    border-bottom: 1px solid var(--secondary);
    transform: rotate(90deg);
    z-index: 0;
}

/* Imagepost.hbs*/
#post-container{
    margin-bottom: 3rem;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    padding: 0px 0px; 
    grid-template-areas: 
    "info comment-container"; 
}

#image-post-author{
    display: inline-block;
    vertical-align: middle;
}

#image-post-date{
    display: inline-block;
    vertical-align: middle;
}

#image-post-image{
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; */
    border: 2px solid #ffe757;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    margin-top: 3rem;
}

#messages-{
    /* grid-area: messages; */
    overflow-y: auto;
    display: flex;
    /* flex-flow: column-reverse; */
    flex-flow:column;
    scroll-behavior: smooth;
    border: 2px solid #7d8abe;
    /* box-shadow: -2px 2px 4px 4px #ffe757; */
    border-radius: .35rem;
}

div[id^=messages-] {
    display: grid;
    grid-template-rows:  .3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: .2em;
    padding: .25rem;
    margin: .2rem;
    font-size: 1rem;
    border: .0625rem solid gray;
    border-radius: .25rem;
    grid-template-areas: 
    "author created"
    "comment comment";
    background-color: aliceblue;
}

.author-text{
    display: inline-block;
    margin-bottom: 10px;
    color:var(--primary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.comment-text{
    font-size: 14px;
    color: var(--gray);
    font-family: monospace;
}

.date-posted{
    color: var(--gray);
    position: absolute;
    right:10px;
    top:10px;
    font-size: 12px;
}

.comment-box{
    padding:5px 15px;
}

.comment-box-text{
    border: 1px solid var(--gray);
    border-radius: 15px;
    padding:15px 10px;
}
.comment-box-text:focus{
    outline: 1px solid #eee;
}
.comment-box-botton{
    margin-top: 10px;
    background-color:var(--primary);
    color:var(--light-gray);
    padding:7px 20px;
    font-family:'Montserrat', sans-serif;
    border-radius: 15px;
    border:0px;
    display: block;
}
.nav-search{
    width:300px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content:left;
}
.nav-search input{
    display: inline;
    width:170px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.nav-search button{
    font-size: 18px;
    padding: 9px 15px;
    background-color: #eee;
    border: 0px;
    color:var(--primary);
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height:42px;
    
}
.v-wrapper{
    min-height: 100vh;
    overflow: hidden;
}